.full-name {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(80);
}
.birth {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(80);
  animation-delay: 4s;
}
@keyframes typing {
  from {
    width: 0;
    border-right: 2px solid;
  }
  to {
    width: 160px;
  }
}

/* @keyframes blinking {
  50% {
    border-color: transparent;
  }
} */
